* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #8a8988;
}

.header{
    padding: 30px;
    background-color: #0b1419;
    color: #9c7c6c;
}

.header h1{
    display: inline-block;
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;  
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 10px;
}


a{
    color: #9c7c6c;
}

p {
    font-size: 16px;;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('../images/IMG_2050.PNG');
    background-size: cover;
    background-position: center;
}
    /*Find way to move <h2> to the bottom of the hero element?*/
.hero h2 {
    font-size: 48px;
    padding: 20px 20px;
    float: right;
    color: #4A8894;
    background-color: #0b1419;
    border: 3px solid #9c7c6c;
    box-shadow: -3px 6px #413f3f
    }

   .content p {
text-align: center;
}

 
#about-me,
#my-work,
#middleContainer,
#bottomContainer
{
    display: flex;
    margin-left: 10px;
    margin-right: 30px;
}

.about-me p {
    margin-left: 50px;
    padding: 0px 100px 100px 100px;
    font-size: 20px;
}

#img1{
    /* height: 500px; */
    width: 100%;
    /* margin-left: 10px; */
}

.smallImg{
    /* height: 250px; */
    width: 100%;

}
.parentContainer{
    position: relative;
    width: 100%;
    margin-left: 50px;
}

.smallContainer{
    position: absolute;
    bottom: 15%;
    background-color: #0b1419;
    padding: 1%;
    font-size: 25px;
}

.footer {
    padding: 20px;
    background-color: #4A8894;
    color: #0b1419;
}

.footer h2 {
    text-align: center;
}

.footer ul {
    text-align: center;
    list-style-type: none;
}
 
.medialink {
    color:#0b1419;
}