* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #8a8988;
}

.header{
    padding: 20px;
    background-color: #0b1419;
    color: #9c7c6c;
}

.header h1{
    display: inline-block;
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;  
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 10px;
}

a{
    color: #9c7c6c;
    text-decoration:;
}

p {
    font-size: 16px;;
}

.hero {
    height: 615px;
    width: 100%
    margin-bottom: 25px;
    background-image: url('../images/IMG_2031.PNG');
    background-size: cover;
    background-position: center;
}

.float-right {
    float: right;
    margin: left; px;
}

.hero h2 {
    font-size: 48px;
    padding-right: 80px;
    float: right;
    color: #4A8894;
    align: flex-end;
}

